@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Freehand&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Fasthand&family=Freehand&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /* Defining the primary color spectrum variables for Tailwind v4 */
  --color-primary-50: #f5f3ff;
  --color-primary-300: #c7d2fe;
  --color-primary-500: #6366f1;
  --color-primary-600: #4f46e5;
  --color-primary-700: #4338ca;
  --color-primary-800: #3730a3;
  --color-brand-blue: #0066dc;
  --color-brand-dark: #111111;
  --color-slat-purple: #e8def8;
  --color-bold-purple: #6750a4;
  /* Retaining your standard structural tokens */
  --color-border: #e2e8f0;
  --color-background: #363635;
  --color-foreground: #1f1f1e;
  --color-white: #ffffff;
  --color-black: #000000;
  --font-khmer: "Noto Sans Khmer", sans-serif;
  --font-english: "Helvetica Neue", Helvetica, Arial, system-ui, sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  width: 100%;
}

@utility ant-row {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-inline: 1.5rem;
  }
  .ant-row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .ant-row {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-inline: 2rem;
  }
  .ant-row {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .ant-row {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
  .ant-row {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.btn-gost {
  @apply bg-foreground text-white rounded-full px-6 py-2.5 text-sm hover:bg-background  transition-colors;
}
.btn-gray {
  @apply bg-background text-white rounded-full px-6 py-2.5 text-sm hover:bg-gray-600 transition-colors;
}

.hover-underline:hover {
  text-decoration: underline;
}
